<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Список контактов</h1>
    <a href="/add">Добавить контакт</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Email</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        <tr th:each="contact : ${contacts.getContacts()}">
            <td th:text="${contact.getId()}"></td>
            <td th:text="${contact.getFirstName()}"></td>
            <td th:text="${contact.getLastName()}"></td>
            <td th:text="${contact.getPhone()}"></td>
            <td th:text="${contact.getEmail()}"></td>
            <td><a th:href="'edit/'+${contact.getId()}">Редактировать</a></td>
            <td>
                <form method="post" action="delete">
                    <input name="id" th:value="${contact.getId()}" hidden>
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>